body {
	padding-top: 0px;
	padding-bottom: 20px;
}

a {
	cursor: pointer;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}



textarea {
	resize: none;
}

.select-mania-item-text {
	font-size: 1.2rem !important;
}

.not-bold {
	font-weight: normal !important;
}

#Ceditar {
	color: #f0ad4e;
	background-color: white;
}

#Celiminar {
	color: #d9534f;
	background-color: white;
}

#Celiminar:hover {
	color: #fb5f5b;
	background-color: white;
}

#Ceditar:hover, #Celiminar:hover {
	cursor: pointer;
	font-size: 18px;
}

#Ceditar:hover {
	color: #ffac37;
	background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.marginDiv {
	margin-top: 8px;
}

.hrnoMargin {
	margin: 0px;
}

.bs-border-top-info {
	border-color: #fc93f7;
}

.bs-border {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-top-width: 5px;
	border-radius: 3px;
}

.text-BlueLight {
	color: white;
}

.text-BlueLight:hover {
	color: #204d74;
	background-color: #eee !important;
}

.BgNav {
	background-color: #f6c23e;
	border-bottom: #c1a9a9 1px solid;
}

.bg-pink {
	background-color: #9c389b;
	color: white;
}
.bg-pinkLite {
	background-color: #e255e1;
	color: white;
}

.btn-pink:hover {
	background-color: #ff767b;
	color: white;
}

.btn-defaultColor {
	background-color: #0293b2;
	color: white;
}
.btn-defaultColorLite {
	background-color: #03b7de;
	color: black;
}


.text-defaultColor {
	color: #0293b2;
}

.bg-bluelgh {
	background-color: #d5fff4;
}

.bg-defaultlgh {
	background-color: #efefef;
}

.font-sm {
	font-size: 1.15rem;
}

.noPdTop {
	padding-top: 0px !important;
}
.noPdBottom {
	padding-bottom: 0px !important;
}

.noPdRight {
	padding-right: 0px !important;
}

.noPdLeft {
	padding-left: 0px !important;
}

.Sivisible {
	display: block;
}

.novisible {
	display: none;
}


#tbl_detalleCuotasC tbody {
	overflow-y: auto;
	width: 100%;
	height: 5vw;
	position: relative;
}

.widtTotal {
	max-width: 3000px !important;
}



.has-incorrect {
	border: #a94442;
}

.has-correct {
	border: green;
}



.paginate_button {
	color: #337ab7 !important
}

th.sorting_asc, th.sorting_desc {
	background-image: none !important;
}

th.sorting_asc::after, th.sorting_desc::after, .sorting::after {		
	display:none !important;
}

.th-pd-right{
	padding-right:12px !important;
}
.th-pd-no-left{
	padding-left: 8px !important;
}
.th-pd-no-right {
	padding-right: 0px !important;
}

.NoVisible {
	visibility: hidden;
}

.wth-action{
	width: 40px;
}

.borderless td, .borderless th {
	border: none !important;
}

.top-border {
	border-top: solid 1px;
	margin: 0 0 2px !important;
}
.firtTitle 
{
	background-color: #03b7de;
}
.secondTitle 
{	
	background-color: #e3e6e6;
}

.table-bordered {
	border: 0px !important;
}

.chkLg {
	transform: scale(2);
	-ms-transform: scale(2);
	-webkit-transform: scale(2);
	padding: 10px;
}

@media (max-width: 420px) {
	#body-content {
		margin-left: 0px;
		width: 100% !important;
	}

	.msb .navbar-nav li a {
		margin-left: 15px !important;
		padding: 15px !important;
	}
}

@media (min-width: 720px) {

	#body-content {
		margin-left: 199px;
	}
}




@media only screen and (max-width: 720px) {
	/* For mobile phones: */
	[class*="col-"] {
		padding: 2px;
	}
}
.msb .navbar-nav li a:hover {
	background-color: #204d74
}

.swal2-styled.swal2-cancel {
	background-color: #b92c28 !important;
}

#content-title {
	font-family: Verdana, sans-serif;
	text-transform: capitalize;
	font-weight: bold;
}

.nav > li > a:focus {
	background-color:transparent !important;
}

.panel-collapse {
	background-color: #8e598d;
	list-style-type: disc !important;
}

.modal-header {
	background-color: #0293b2 !important;
	color: white;
	font-size: 24px;
	text-align: center;
	text-transform: capitalize;
}

div.ui-datepicker {
	font-size: 18px;
}

.panel-purple {
	border: 2px solid #9c389b !important;
}

.font-size-16 {
	font-size: 16px !important;
}
.font-size-18 {
	font-size: 18px !important;
}
.font-size-22 {
	font-size: 22px !important;
}

.pd-top-10 {
	padding-top: 10px !important;
}

.width-20-Por{
	width: 20% !important;
}

#contenido-cuenta{
	margin: 10px 0 0px 0;

}



header[class="titulo"] {
	font-size: 18px;
	width: 100%;
	background-color: #9c389b;
	color: white;
	padding-top:5px;
	padding-bottom: 5px;
	padding-left: 8px;
}

#contenido-cuenta .titulo {
	background-color: #03b7de;
}

#tbl-cuenta{
	width: 100% !important;
}

#data-resumen {
	flex-direction: row;
}

#data-resumen div{
	display: flex;
}

#data-resumen div p{
	width:50%;
	margin:5px 10px;
}

.dataTables_filter{
	float: right !important;
}

.dataTables_length{
	float: left !important;
}

.select-mania-group-text {
	font-size: 13px !important;
}
/***************************** Datos de login	*****************************/
#container-login {
	margin-top: 100px !important;
	box-shadow: 0 5px 30px 0 #000;
	min-height: 220px !important;
}

.page-layout-admin-login {
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: #373330;
	height: 101%;
	max-height: 100%;
	min-width: 50rem;
}


.login-header {
	margin: 0 0 3rem;
}

.page-layout-admin-login .page-wrapper {
	flex-grow: 0;
	flex-shrink: 0;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	box-shadow: 0 5px 30px 0 #000;
	display: block;
	float: none;
	margin: auto;
	max-width: 45rem;
	min-height: 30rem;
	min-width: 0;
	padding: 40px 80px 50px;
	position: relative;
	width: 100%;
	z-index: 1;
}

.page-wrapper {
	background-color: #fff;
	display: inline-block;
	margin-left: -4px;
	vertical-align: top;
	width: calc(100% - 8.800000000000001rem);
}

.login-footer {
	color: #989287;
	font-size: 1rem;
	font-weight: 400;
	left: 0;
	margin: 5rem 0 2rem;
	position: absolute;
	text-align: center;
	top: 100%;
	width: 100%;
}
/***************************** Datos de login	*****************************/
