@model SistemaImbrino.Models.USUARIOS

<div class="row">
	<input type="hidden" id="idUsuario" name="idUsuario" />
	<div class="col-xs-12 col-sm-6 col-lg-6">
		<label class="control-label" for="NewPass">CONTRASEÑA NUEVA</label>
		<div class="form-group" id="dvNewPass">
			<div class="input-group">
				<label class="input-group-addon" for="NewPass"><i class="glyphicon glyphicon-user"></i></label>
				<input type="password" name="NewPass" id="NewPass" class="form-control texto" />
				<span id="spanNewPass" class="glyphicon  form-control-feedback" aria-hidden="true"></span>
			</div>
		</div>
	</div>
</div>

